body {
background-color: #f3f2ee;
display: block;
margin: 8px;
}

h1, h2, h3, h4 {
    margin: 0px;
    color: #fff;
   font-family: 'Open Sans', sans-serif;
}
h1 {
font-weight:400;
}
h2 {
font-size: 60px;
font-weight: 800; 
}
h3 {
    font-weight: normal;
    margin-bottom: 30px;
}
h3:first-letter {
text-transform: capitalize;
}
h4 {
    margin-top: 40px;
    font-weight: 100;
    font-size: inherit;
}
a {
    color: #9060c4;
}
.container {
    display: block;
    max-width: 500px;
    margin: 30px auto;
    padding: 40px;
}
.card-css {
    border: none;
    border-radius: 15px;
    background: fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    box-shadow: 3px 10px 12px rgba(0, 0, 0, 0.1);
}
.input-group {
    display: block;
    margin: 25px 0px auto;
    padding-bottom: 20px;
    border-radius: 25px;
    font-size: 20px;
}
.forecast-week {
margin: 5px 5px 5px 5px;
padding: 20px;
text-align: center;
line-height: 1.5;
background-color: #fff;
border-radius: 5px;
color: #5b6369;
font-size: 15px;
}
.emojis {
color: #5b6369;
}
.reference {
    margin-top: 20px;
    font-size: small;
    font-family: monospace;
    text-align: center;
}
.weather-forcast-min {
    opacity: 0.5;
}